<div class="card checkinslist">
	<h1>Check-ins</h1>
	<p>Here is list of your latest check-ins</p>

	<div class="search cf">
		<h2>Search Checkins</h2>
		<input type="text" ng-model="query" placeholder="Search for users">

		<div class="formgroup">
			<span class="label">by: </span>
			<select ng-model="order">
				<option value="firstname">First Name</option>
				<option value="lastname">Last Name</option>
				<option value="date">Date</option>
			</select>
		</div>

		<div class="formgroup">
			<input id="dirascending" type="radio" ng-model="direction" name="direction">
			<label for="dirascending"> asc</label>&nbsp;
			<input id="dirdescending" type="radio" ng-model="direction" name="direction" value="reverce">
			<label for="dirdescending"> desc</label>
		</div>
	</div>

	<ul class="userlist cf">
		<li ng-repeat="checkin in checkins |orderBy: order:direction| filter: query">
			<div class="checkin">
				<div class="buttons" ng-show="currentUser">
					<button class="btn btn-delete tooltip"
					ng-click="deleteCheckin(checkin.$id)">
					<span>Delete this check-in</span>
					</button>
				</div><!--buttons-->
				<div class="info">
					<h2>{{checkin.firstname}} {{checkin.lastname}}</h2>
					<div class="data">
						{{checkin.date | date: "MM d, yy h:mm a"}}
					</div><!--date-->
				</div><!--info-->
			</div><!--checkin-->
		</li>
	</ul>
</div>