<section class="card login">
  <form name="myform"
    ng-submit="reset()"
    novalidate>

    <div class="textintro">
      <h1>Reset your Password</h1>
      <p>Enter your email and letter with instructions will be send on it</p>
      <p class="message error" ng-show="message">{{ message }}</p>
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email" 
      ng-model="user.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>
    </fieldset>

    <button type="submit" class="btn"
    ng-disabled="myform.$invalid">Reset</button>
    <!--<p>or <a ng-href="#/register">register</a></p>-->
    <p>or <a ng-href="#/reset">Forgot Password?</a></p>
  </form>
</section>